@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <blockquote class="text-warning" style="font-size:14px">
                    欢迎使用短信管理助手!<br />
                    <a target="_blank" href=""></a><br>

                </blockquote>
            </div>
        </div>

        <div class="row">
            @*<div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <i class="fa fa-send-o"></i> 官网：<a href="/" target="_blank"></a>
                        </p>
                        <p>
                            <i class="fa fa-qq"></i> QQ群：<s></s> <a href="https://jq.qq.com" target="_blank"></a>
                        </p>
                        <p>
                            <i class="fa fa-weixin"></i> 微信：<span>*</span>
                        </p>
                        <p>
                            <i class="fa fa-credit-card"></i> 支付宝：<span>*</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v310">v3.1.0</a><code class="pull-right">2020.05.28</code>
                                        </h5>
                                    </div>
                                    <div id="v310" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 框架由升级到.NET Core 3.1</li>
                                                <li>2. 导入文件支持xlsx格式</li>
                                                <li>3. 菜单支持打开外部链接</li>
                                                <li>4. 修复读取cookie样式bug</li>
                                                <li>5. 部门和用户的数据权限修改，只能看到自己及以下</li>
                                                <li>6. 菜单新增或编辑之后，显示对应的数据</li>
                                                <li>7. 定时任务支持暂停和更新任务周期</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v220">v2.2.0</a><code class="pull-right">2020.05.20</code>
                                        </h5>
                                    </div>
                                    <div id="v220" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 搭建后台系统框架</li>
                                                <li>2. 代码自动生成的时候，根据配置，生成对应菜单</li>
                                                <li>3. 修复bootstrap tree table的expandFirst为true，tree展开的问题</li>
                                                <li>4. 修复头像上传报错</li>
                                                <li>5. 增加多个基类实体，根据业务按需继承</li>
                                                <li>6. 调整项目文件结构，使代码结构更加清晰</li>
                                                <li>7. 增加NUnit测试项目</li>
                                                <li>8. 增加常用的前端组件示例</li>
                                                <li>9. 增加用户导入示例</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

        $('#pay-qrcode').click(function () {
            var html = $(this).html();
            ys.openDialogContent({
                content: html,
                width: '600px',
                height: '321px'
            });
        });

    });

</script>
